* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: url(https://fonts.google.com/specimen/Lexend+Deca);
  font-size: 15px;
  font-weight: 400px;
}

.container1 {
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  width: 1000px;
  height: 500px;
  margin-left: 150px;
  margin-top: 100px;
}
.container {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 750px;
  height: 400px;
  margin-left: 125px;
  margin-top: 50px;
}
img {
  margin-left: 35px;
  margin-top: 35px;
}
.header {
  font-family: "Big Shoulders Display", cursive;
  margin-left: 35px;
  color: #fff;
  font-weight: 700px;
  font-size: 30px;
  margin-top: 25px;
}
.flex1 {
  background-color: hsl(31, 77%, 52%);
  width: 250px;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.flex2 {
  background-color: hsl(184, 100%, 22%);
  width: 250px;
  height: 100%;
}
.flex3 {
  background-color: hsl(179, 100%, 13%);
  width: 250px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}

.btn1 {
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  margin: 50px 35px 25px;
  border: 2px solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  color: hsl(31, 77%, 52%);
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.btn1:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.btn2 {
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  margin: 50px 35px 25px;
  border: 2px solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  color: hsl(184, 100%, 22%);
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn2:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.btn3 {
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  margin: 50px 35px 25px;
  border: 2px solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  color: hsl(179, 100%, 13%);
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn3:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}
p {
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 30px;
  line-height: 20px;
  color: lightgray;
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400px;
}
